/*
 * See LICENSE file in distribution for copyright and licensing information.
 */
package seph.lang.bim;

import seph.lang.*;
import seph.lang.persistent.IPersistentList;

/**
 * @author <a href="mailto:ola.bini@gmail.com">Ola Bini</a>
 */
public class <%=@name%>Base {
    public static SephObject get(String cellName) {
        throw new UnsupportedOperationException("mistakenly called method on stub bim <%=@name%>Base");
    }
}// <%=@name%>Base
